@model WebApplication2.ViewModels.Include.BaseViewModel
@using WebApplication2.ViewModels.Include
@using WebApplication2.ViewModels

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/fonts/font_roboto_condensed.css")
    @Styles.Render("~/fonts/font_material_icons.css")
    @Styles.Render("~/fonts/font_font_awesome.css")
    @Styles.Render("~/slick/slick.css")
    @Styles.Render("~/css/app.css")

    <!--Let browser know website is optimized for mobile-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

@{ 
    var fontclass = "";
    if (Model.current.session.fontSize <= 20)
    {
        fontclass = "";
    }
    else if (Model.current.session.fontSize > 20)
    {
        fontclass = " class=larger";
    }
}
<body>
    <style>
        .top_warning {
            padding: 10px;
            background-color: #000;
        }

            .top_warning .content {
                color: #fff;
                text-align: center;
            }
    </style>

    <div @fontclass>

        @foreach (var msg in Model.topWarningMessages)
        {
            <div class="top_warning">
                <div class="content">
                    @Html.RazorEncode(HttpUtility.HtmlDecode(msg), Model)
                </div>
            </div>
        }

        @Scripts.Render("~/js/js_sha256.js")
        @Scripts.Render("~/js/jquerymin.js")
        @Scripts.Render("~/js/materialize.min.js")
        @Scripts.Render("~/js/iframeResizer.min.js")
        @Scripts.Render("~/slick/slick.min.js")
        @Scripts.Render("~/js/popelt.min.js")
        @Scripts.Render("~/js/msg_receiver.js")
        <script type="text/javascript">
            $('select.material').material_select();
        </script>

        @RenderBody()


        @Scripts.Render("~/js/js_qpi.js")
        @Scripts.Render("~/js/iframeResizer.contentWindow.min.js")
        @Scripts.Render("~/js/init_iframe.js")
        @Scripts.Render("~/js/sly.js")

        <script>
            var SlyFrames = [];
            var frame = null;

            //ao iniciar
            $(document).ready(function () {
                resize();
                criaSlides();
            });

            //ao redimencionar a janela
            $(window).resize(function (e) {
                resize();
                SlyReload();
            });

            /**
             * cria os slides pela marcação da classe no html
             */
            function criaSlides() {
                frames = document.getElementsByClassName('basic');
                for (var i = 0; i < frames.length; i++) {
                    SlyFrames[i] = newSly(frames[i]);
                }
            }

            /**
             * cria um Sly Object
             */
            function newSly(frame) {
                var $wrap = $(frame).parent();

                return new Sly(frame, {
                    horizontal: 1,
                    itemNav: 'basic',
                    smart: 0,
                    activateOn: 'click',
                    mouseDragging: 1,
                    touchDragging: 1,
                    releaseSwing: 1,
                    startAt: 0,
                    scrollBy: 1,
                    pagesBar: $wrap.find('.pages'),
                    activatePageOn: 'click',
                    speed: 300,
                    elasticBounds: 1,
                    easing: 'easeOutExpo',
                    dragHandle: 1,
                    dynamicHandle: 1,
                    clickBar: 1,
                    // Buttons
                    prevPage: $wrap.find('.prevPage'),
                    nextPage: $wrap.find('.nextPage')
                }).init();
            }

            /**
             * força a responsividade dos slides
             */
            function resize() {
                var col;
                var wdt = $(".frame").width();
                if (wdt <= 500) {
                    col = 1;
                } else if (wdt > 500 && wdt <= 750) {
                    col = 2;
                } else if (wdt > 750 && wdt <= 960) {
                    col = 3;
                } else if (wdt > 960 && wdt <= 1200) {
                    col = 4;
                } else {
                    col = 5;
                }
                var tm = ($(".frame").width() / col);
                $(".clearfix li").css("width", Math.round(tm));
            }

            /**
             * recarrega slides
             */
            function SlyReload() {
                for (var i = 0; i < SlyFrames.length; i++) {
                    SlyFrames[i].reload();
                }
            }
        </script>


        <script type='text/javascript'>
            $('body').prepend('<div class="gem_form materialize valign-wrapper" id="blackscreen" style="z-index: 2000; background-color: rgba(255,255,255,0.6); width: 100%; height: 100%; position: fixed; display:none; "> <div class="valign center-align" id="loaditemer" style="width: 100%; "> <div id="custloaderbar" class="progress red "> <div class="indeterminate  yellow darken-2"></div> </div> <div id="custloadercircle" class="preloader-wrapper big active"> <div class="spinner-layer spinner-blue"> <div class="circle-clipper left"> <div class="circle"></div> </div><div class="gap-patch"> <div class="circle"></div> </div><div class="circle-clipper right"> <div class="circle"></div> </div> </div> <div class="spinner-layer spinner-red"> <div class="circle-clipper left"> <div class="circle"></div> </div><div class="gap-patch"> <div class="circle"></div> </div><div class="circle-clipper right"> <div class="circle"></div> </div> </div> <div class="spinner-layer spinner-yellow"> <div class="circle-clipper left"> <div class="circle"></div> </div><div class="gap-patch"> <div class="circle"></div> </div><div class="circle-clipper right"> <div class="circle"></div> </div> </div> <div class="spinner-layer spinner-green"> <div class="circle-clipper left"> <div class="circle"></div> </div><div class="gap-patch"> <div class="circle"></div> </div><div class="circle-clipper right"> <div class="circle"></div> </div> </div> </div> </div> </div>'); window.turnLoader = function turnLoader(state) { if (state == 'c') { $("#custloadercircle").show(); $("#custloaderbar").hide(); } else { $("#custloadercircle").hide(); $("#custloaderbar").show(); } if (state != null) { $("#blackscreen").css("display", "flex"); $("body").css("overflow", "hidden"); } else { $("#blackscreen").css("display", "none"); $("body").css("overflow", "auto"); } }
        </script>

        <script type="text/javascript">
            var loopHeartbeat = function (time) {
                setTimeout(function () {
                    console.log("HEARTBEAT");
                    $.post("/api/session/api_sso_heartbeat");
                    loopHeartbeat(30000);
                }, time);
            }
            loopHeartbeat(2000);
        </script>

        <!--Begin Comm100 Live Chat Code-->
        @if (Model.lang.locale == "en-US")
        {
            <script type="text/javascript">
                var Comm100API = Comm100API || {}; (function (t) { function e(e) { var a = document.createElement("script"), c = document.getElementsByTagName("script")[0]; a.type = "text/javascript", a.async = !0, a.src = e + t.site_id, c.parentNode.insertBefore(a, c) } t.chat_buttons = t.chat_buttons || [], t.chat_buttons.push({ code_plan: 955, div_id: "comm100-button-955" }), t.site_id = 1000207, t.main_code_plan = 955, e("https://ent.comm100.com/chatserver/livechat.ashx?siteId="), setTimeout(function () { t.loaded || e("https://entmax.comm100.com/chatserver/livechat.ashx?siteId=") }, 5e3) })(Comm100API || {})
            </script>
        }
        @if (Model.lang.locale == "zh-HK")
        {
            <script type="text/javascript">
                var Comm100API = Comm100API || {}; (function (t) { function e(e) { var a = document.createElement("script"), c = document.getElementsByTagName("script")[0]; a.type = "text/javascript", a.async = !0, a.src = e + t.site_id, c.parentNode.insertBefore(a, c) } t.chat_buttons = t.chat_buttons || [], t.chat_buttons.push({ code_plan: 982, div_id: "comm100-button-955" }), t.site_id = 1000207, t.main_code_plan = 982, e("https://ent.comm100.com/chatserver/livechat.ashx?siteId="), setTimeout(function () { t.loaded || e("https://entmax.comm100.com/chatserver/livechat.ashx?siteId=") }, 5e3) })(Comm100API || {})
            </script>
        }
        @if (Model.lang.locale == "zh-CN")
        {
            <script type="text/javascript">
                var Comm100API = Comm100API || {}; (function (t) { function e(e) { var a = document.createElement("script"), c = document.getElementsByTagName("script")[0]; a.type = "text/javascript", a.async = !0, a.src = e + t.site_id, c.parentNode.insertBefore(a, c) } t.chat_buttons = t.chat_buttons || [], t.chat_buttons.push({ code_plan: 981, div_id: "comm100-button-955" }), t.site_id = 1000207, t.main_code_plan = 981, e("https://ent.comm100.com/chatserver/livechat.ashx?siteId="), setTimeout(function () { t.loaded || e("https://entmax.comm100.com/chatserver/livechat.ashx?siteId=") }, 5e3) })(Comm100API || {})
            </script>
        }
        <!--End Comm100 Live Chat Code-->
    </div>

</body>
</html>