@model WebApplication2.ViewModels.Include.BaseViewModel

<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/fonts/font_roboto_condensed.css")
    @Styles.Render("~/fonts/font_material_icons.css")
    @Styles.Render("~/fonts/font_font_awesome.css")
    @Styles.Render("~/slick/slick.css")
    @Styles.Render("~/css/app.css")

    <!--Let browser know website is optimized for mobile-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    @Scripts.Render("~/js/jquerymin.js")
    @Scripts.Render("~/js/materialize.min.js")
    @Scripts.Render("~/js/iframeResizer.min.js")
    @Scripts.Render("~/slick/slick.min.js")

    @RenderBody()


    @Scripts.Render("~/js/iframeResizer.contentWindow.min.js")
    @Scripts.Render("~/js/init_iframe.js")
</body>
</html>