@model IEnumerable<WebApplication2.Models.Infrastructure.Menuitem>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name_en)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name_zh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name_cn)
        </th>
        <th>
            Parent
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isClickable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_at)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name_en)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name_zh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name_cn)
        </td>
        <td>
            @if (item.parentItem != null)
            {
                @item.parentItem.GetName()
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isClickable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_at)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("List children", "List", new { parentItemID = item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
