@using WebApplication2.Helpers
@model IEnumerable<WebApplication2.Models.ContentPage>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Content Pages</h2>

<p>
    @Html.ActionLink("Create New Content Page", "CreateWithViewModelForm")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdBy)
            </th>
            <th id="column_def_sort" data-direction="desc">
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modified_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.getUrl()
                </td>
                <td>
                    @if (item.createdByAccount != null)
                {
                        @item.createdByAccount.Username
                    }
                </td>
                <td>
                    <span style="white-space: pre-line">@DateTimeExtensions.DateTimeToStringBR(item.created_at)</span>
                </td>
                <td>
                    <span style="white-space: pre-line">@DateTimeExtensions.DateTimeToStringBR(item.modified_at)</span>
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpsertLocale", new { baseArticleID = item.BaseArticleID, version = item.Version, lang = "en" })<br />
                    @Html.ActionLink("Details", "DetailsLocale", new { baseArticleID = item.BaseArticleID, version = item.Version, lang = "en" })<br />
                    @Html.ActionLink("Delete", "Delete", new { id = item.ArticleID })
                </td>
            </tr>
        }
    </tbody>
</table>


@Html.Partial("CDataTable")