@using WebApplication2.Security
@using WebApplication2.Context

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSL CMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
    CKEDITOR_BASEPATH = "@Url.Content("~/Content/ckeditor/")";
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ckeditor/config.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ckeditor/styles.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/ckeditor/adapters/jquery.js")"></script>
    @Scripts.Render("~/bundles/ckfinder")
</head>
<body style="padding-top:0px;">
    <div class="navbar navbar-default">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (SessionPersister.account != null)
                    {
                        if (SessionPersister.account.NeedChangePassword)
                        {
                            <li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
                        }
                        else if (SessionPersister.account.Role.Contains("superadmin"))
                        {
                            <li>@Html.ActionLink("Home", "Index", "Account")</li>
                            <li>@Html.ActionLink("Register Account", "Register", "Account")</li>
                            <li>@Html.ActionLink("Account Groups", "List", "AccountGroup")</li>
                            <li>@Html.ActionLink("Account List", "List", "Account")</li>
                            <li>@Html.ActionLink("Categories", "List", "InfrastructureCategory")</li>
                            <li>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Articles
                                    <b class="caret"></b>

                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Articles", "List", "ArticleEditor")</li>
                                        <li>@Html.ActionLink("Articles to Approve", "List", "ArticleApprover")</li>
                                        <li>@Html.ActionLink("Articles to Publish", "ListArticlesApproved", "ArticlePublisher")</li>
                                        <li>@Html.ActionLink("Published Articles", "ListArticlesPublished", "ArticlePublisher")</li>
                                    </ul>
                                </a>
                            </li>
                            <li>@Html.ActionLink("Content Pages", "List", "ContentPageEditor")</li>
                            <li>@Html.ActionLink("Audit Log", "Index", "AuditLog")</li>
                            <li>@Html.ActionLink("Maintenance", "Index", "SystemMaintenanceNotification")</li>
                        }
                        else
                        {

                            <li>@Html.ActionLink("Home", "Index", "Account")</li>
                            <li>@Html.ActionLink("My Account", "Me", "Account")</li>
                            <li>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>

                            if (SessionPersister.account.Role.Contains("editor"))
                            {

                                <li>@Html.ActionLink("Articles", "List", "ArticleEditor")</li>
                                <li>@Html.ActionLink("Content Pages", "List", "ContentPageEditor")</li>
                            }

                            if (SessionPersister.account.Role.Contains("approver"))
                            {

                                <li>@Html.ActionLink("Articles to Approve", "List", "ArticleApprover")</li>
                            }

                            if (SessionPersister.account.Role.Contains("publisher"))
                            {

                                <li>@Html.ActionLink("Articles to Publish", "ListArticlesApproved", "ArticlePublisher")</li>
                                <li>@Html.ActionLink("Published Articles", "ListArticlesPublished", "ArticlePublisher")</li>
                            }

                            if (SessionPersister.account.Role.Contains("editor")
                            || SessionPersister.account.Role.Contains("approver")
                            || SessionPersister.account.Role.Contains("publisher"))
                            {
                                <li>@Html.ActionLink("Maintenance", "Index", "SystemMaintenanceNotification")</li>
                            }
                        }
                    }
                    else
                    {
                        if (!AccountDbContext.getInstance().isSuperadminExists())
                        {
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                            <li>@Html.ActionLink("Register New CMS Account", "Register", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        }
                    }
                </ul>

                <ul class="nav navbar-nav" style="float:right;">

                    @if (SessionPersister.account != null)
                    {
                        <li>
                            <a>@SessionPersister.account.Firstname @SessionPersister.account.Lastname
                            @if (SessionPersister.account.Role != null && !SessionPersister.account.Role.Equals(""))
                            {
                                @("(")
                                @SessionPersister.account.Role
                                @(")")
                            }
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Logout", "Account")">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="body-content">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @ViewBag.Message
            </div>
        }   
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - GSL CMS</p>
        </footer>
    </div>
    <div style="display: inline-block; position: fixed; top: 0; right: 0; color: #FFFFFF;">
        Version: 0.1.5 - Last Updated: 2016/09/14
    </div>
</body>
</html>
