@model WebApplication2.ViewModels.Include.BaseViewModel

<section class='top'>
    <div class='header'>
        <div class='top-red-bar'>
        </div>
        <div class='white-space'>
            <div class='gem_form nobg zeromarginpadding' style="overflow: visible;">
                <div class="row">
                    <div class="col m12">
                        <table class='header-table-grid-1 font_sm'>
                            <tr>
                                <td>
                                    <div class='GSL'>@Model.headerData.title</div>
                                </td>
                                <td>
                                    <span id="lang_select" style="z-index: 1000000"></span>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    字體大小
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span style='font-size: 20px; border-bottom: 2px solid #CF0D14'><a href='#' style='text-decoration: none; color: #333' onclick='fontSmall();'>A</a></span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span style='font-size: 30px'><a href='#' style='text-decoration: none; color: #333' onclick='fontBig();'>A</a></span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @if (Model.current != null && Model.current.session != null)
                                    {
                                        <a href="/@Model.lang.locale/home/logout">
                                            <span class='generic-button-standalone gb-hollow-white'>
                                                登出
                                            </span>
                                        </a>
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <a href="">
                                            <span class='generic-button-standalone gb-primary'>
                                                你好，@Model.current.session.fullname
                                            </span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/@Model.lang.locale/Page/login">
                                            <span class='generic-button-standalone gb-hollow-white'>
                                                登入／註冊
                                            </span>
                                        </a>
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <a href="/@Model.lang.locale/Page/signup">
                                            <span class='generic-button-standalone gb-primary'>
                                                免費開戶
                                            </span>
                                        </a>
                                    }
                                </td>
                            </tr>
                        </table>

                        <div class='nav-bar-bg'>
                            <ul id="nav-mobile">
                                @{
                                    var menuCount = 0;
                                }
                                @for (var i = menuCount; i < Model.headerMenu.Count; i++)
                                {
                                    menuCount += 1;
                                    var menuItem = Model.headerMenu[i];
                                    <li class="headerMenuActive" id="headerMenu_li_@i"><a href="@menuItem.link.GetFullURL()">@menuItem.name</a></li>
                                }
                            </ul>
                            <ul id="nav-mobile" class="right">
                                <li id="headerMenu_search_li" style="border-right: 1px solid #999999; width: 100px; text-align: center"><a href="badges.html"><i class="fa fa-search"></i></a></li>
                                @{
                                    var curMenuCount = menuCount;
                                }
                                @for (var i = curMenuCount; i < Model.headerMenuRight.Count + curMenuCount; i++)
                                {
                                    var index = i - curMenuCount;
                                    menuCount += 1;
                                    var menuItem = Model.headerMenuRight[index];
                                    <li class="headerMenuActive" id="headerMenu_li_@i"><a href="@menuItem.link.GetFullURL()">@menuItem.name</a></li>
                                }

                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="nav-overlay">
            @{
                var s_menuCount = 0;
            }

            @for (var i = 0; i < Model.headerMenu.Count; i++)
            {
                s_menuCount += 1;

                var menuItem = Model.headerMenu[i];

                <div class='gem_form nobg zeromarginpadding nav-overlay-li' id="headerMenu_@i">
                    <div class="row">
                        <div class="col s3 box">
                            <div class="font_xxxlg" style="font-weight: bolder;">@menuItem.name</div>
                            <p class="font_sm c_grey_2" style="line-height: 1.43;">@menuItem.name</p>
                        </div>
                        <div class="col s3 box">
                            <ul class="nav-sub-menu sub">
                                @for (var j = 0; j < menuItem.submenu.Count; j++)
                                {
                                    var submenuItem = menuItem.submenu[j];
                                    <a href="@submenuItem.link.GetFullURL()"><li id="headerMenu_sub_li_@j">@submenuItem.name<p class="arrow"></p></li></a>
                                }
                            </ul>
                        </div>
                        <div class="col s3 box">
                            @for (var j = 0; j < menuItem.submenu.Count; j++)
                            {
                                var submenuItem = menuItem.submenu[j];
                                <ul class="nav-sub-menu subsub headerMenu_sub_@j">
                                    @for (var k = 0; k < submenuItem.submenu.Count; k++)
                                    {
                                        var subsubmenuItem = submenuItem.submenu[k];
                                        <a href="@subsubmenuItem.link.GetFullURL()"><li>@subsubmenuItem.name<p class="arrow"></p></li></a>
                                    }
                                </ul>
                            }
                        </div>
                        <div class="col s3 box">
                            @if (menuItem.category != null &&
                                menuItem.category.thumbURL != null)
                            {
                               <img src="@menuItem.category.thumbURL" style="width: 100%" />
                            }
                        </div>
                    </div>
                </div>
            }
            @{
                var s_curMenuCount = s_menuCount;
            }

            @for (var i = s_curMenuCount; i < Model.headerMenuRight.Count + s_curMenuCount; i++)
            {
                var index = i - s_curMenuCount;
                s_menuCount += 1;

                var menuItem = Model.headerMenuRight[index];

                <div class='gem_form nobg zeromarginpadding nav-overlay-li' id="headerMenu_@i">
                    <div class="row">
                        <div class="col s3 box">
                            <div class="font_xxxlg" style="font-weight: bolder;">@menuItem.name</div>
                            <p class="font_sm c_grey_2" style="line-height: 1.43;">@menuItem.name</p>
                        </div>
                        <div class="col s3 box">
                            <ul class="nav-sub-menu sub">
                                @for (var j = 0; j < menuItem.submenu.Count; j++)
                                {
                                    var submenuItem = menuItem.submenu[j];
                                    <a href="@submenuItem.link.GetFullURL()"><li id="headerMenu_sub_li_@j">@submenuItem.name<p class="arrow"></p></li></a>
                                }
                            </ul>
                        </div>
                        <div class="col s3 box">
                            @for (var j = 0; j < menuItem.submenu.Count; j++)
                            {
                                var submenuItem = menuItem.submenu[j];
                                <ul class="nav-sub-menu subsub headerMenu_sub_@j">
                                    @for (var k = 0; k < submenuItem.submenu.Count; k++)
                                    {
                                        var subsubmenuItem = submenuItem.submenu[k];
                                        <a href="@subsubmenuItem.link.GetFullURL()"><li>@subsubmenuItem.name<p class="arrow"></p></li></a>
                                    }
                                </ul>
                            }
                        </div>
                        <div class="col s3 box">
                            @if (menuItem.category != null &&
                    menuItem.category.thumbURL != null)
                            {
                                <img src="@menuItem.category.thumbURL" style="width: 100%" />
                            }
                        </div>
                    </div>
                </div>
            }
        </div>




        @if (Model.breadcrumbData != null)
        {
            <div class='breadcrumb-bar-bg'>
                <div class='gem_form nobg zeromarginpadding'>
                    <div class="row">
                        <div class="col m12">
                            @for (var k = 0; k < Model.breadcrumbData.Count; k++)
                            {
                                var arrow = "";
                                if (k + 1 < Model.breadcrumbData.Count)
                                {
                                    arrow = " > ";
                                }
                                var data = Model.breadcrumbData[k];
                                <a href="@data.link.GetFullURL()" style="color: white;">@data.title</a> @arrow
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


<script type="text/javascript">
var overlay_time = null;

$('.nav-bar-bg').find('li.headerMenuActive').on('mouseover', function (e) {
    var target = $(e.target).closest('li');
    var siblings = target.closest('.nav-bar-bg').find('li');

    if (!target.hasClass('highlighted'))
    {
        $('.nav-sub-menu.sub').find('li').removeClass('active');
        $('.nav-sub-menu.subsub').hide();
        $('.nav-sub-menu.subsub').find('li').removeClass('active');
    }

    siblings.removeClass('highlighted');
    target.addClass('highlighted')

    $('#nav-overlay').show();


    var headerMenu_li_ = target.attr('id');
    var headerMenu_li_id = headerMenu_li_.replace("headerMenu_li_", "headerMenu_");
    $('#nav-overlay').find('#' + headerMenu_li_id).show();
    $('#nav-overlay').find('#' + headerMenu_li_id).siblings('.nav-overlay-li').hide();


    if (overlay_time) {
        clearTimeout(overlay_time);
        overlay_time = null;
    }
});

$('.nav-bar-bg').find('li.headerMenuActive').on('mouseout', function (e) {
    overlay_time = setTimeout(function () {
        $('#nav-overlay').hide();
        var siblings = $('.nav-bar-bg').find('li');
        siblings.removeClass('highlighted');
    }, 250);
});


$('#nav-overlay').on('mouseout', function(e)
{
    overlay_time = setTimeout(function() {
        $('#nav-overlay').hide();
        var siblings = $('.nav-bar-bg').find('li');
        siblings.removeClass('highlighted');
    }, 250);
});
$('#nav-overlay').on('mouseover', function(e)
{
    if (overlay_time)
    {
        clearTimeout(overlay_time);
        overlay_time = null;
    }
});


$('.nav-sub-menu.sub').find('li').on('mouseover', function (e) {
    var target = $(e.target).closest('li');
    var siblings = target.closest('a').siblings('a').find('li');

    siblings.removeClass('active');
    target.addClass('active');

    var headerMenu_sub_li_ = target.attr('id');
    var headerMenu_sub_li_id = headerMenu_sub_li_.replace("headerMenu_sub_li_", "headerMenu_sub_");
    $('#nav-overlay').find('.' + headerMenu_sub_li_id).show();
    $('#nav-overlay').find('.' + headerMenu_sub_li_id).siblings('.nav-sub-menu.subsub').hide();
})

$('.nav-sub-menu.subsub').find('li').on('mouseover', function (e) {
    var target = $(e.target).closest('li');
    var siblings = target.closest('a').siblings('a').find('li');

    siblings.removeClass('active');
    target.addClass('active');
})

</script>


<script>
    window.initLangMenu = function initLangMenu(curlang, el) {

        var genLang = function(lang)
        {
            var pathname = window.location.pathname;

            var segments = pathname.split("/");
            if (segments.length > 1) {
                segments[1] = lang;
            }

            return segments.join("/");
        }

        var convLang = curlang;
        var langLst = [];
        var outputStr = '';
        var linkLst = [
          pathname = genLang("zh-HK"),
          pathname = genLang("zh-CN"),
          pathname = genLang("en-US")
        ];
        langLst['zh-HK'] = '繁中';
        langLst['zh-CN'] = '简中';
        langLst['en-US'] = 'English';

        outputStr += '<div class="cust-dropdown-lang" style="z-">';

        if (langLst[convLang]) {
            outputStr += '<button class="cust-dropbtn-lang">' + langLst[convLang] + ' <img src="/images/menu_language_arrow.png" /></button>';
        } else {
            outputStr += '<button class="cust-dropbtn-lang">English</button>';
        }
        outputStr += '<div class="cust-dropdown-lang-content" style="z-index: 1000000"> <a href="' + linkLst[0] + '">繁中</a> <a href="' + linkLst[1] + '">简中</a> <a href="' + linkLst[2] + '">English</a> </div> </div>';
        $('#' + el).empty().append(outputStr);
    }

    initLangMenu('@Model.lang.locale', 'lang_select');
</script>
