@model WebApplication2.ViewModels.Include.BaseViewModel
@using WebApplication2.ViewModels.Include
@using WebApplication2.ViewModels

@Html.Partial("_Header", Model)

@if (Model.isError)
{

    @Html.RazorEncode(HttpUtility.HtmlDecode(Model.errorMessage), Model)

}
else
{
    <section class='back' style='background-image: url("");'>
        @if (Model.category.hideTopTitle)
        {

        }
        else
        {
            <div class='content_big_title'>
                <table>
                    <tr>
                        <td>
                            <div class='title'>
                                @Html.RazorEncode(HttpUtility.HtmlDecode(Model.category.title), Model)
                            </div>
                            <div class='hr'></div>
                        </td>
                    </tr>
                </table>
            </div>
        }

        @if (Model.category.showTopsubmenuBar)
        {
            @Html.Partial("Topsubmenu", Model)
        }
        else
        {

        }
    </section>

    <section class='front'>

        @if (Model.category.submenu != null)
        {
            foreach (var menuItem in Model.category.submenu)
            {
                <a href="@menuItem.link.GetFullURL()">@menuItem.name</a>
            }
        }


        @if (Model.content != null && Model.content.type == "ArticleList")
        {
            <div class='row'>
                <div class='col s12 m8'>
                    @Html.Partial("List", Model)
                </div>
                <div class='col s12 m4'>
                    @Html.Partial("Sidebar", Model)
                </div>
            </div>
        }
        else if (Model.content != null && Model.content.type == "Article")
        {
            <div class='row'>
                <div class='col s12 m8'>
                    @Html.RazorEncode(HttpUtility.HtmlDecode(Model.content.desc), Model)
                </div>
                <div class='col s12 m4'>
                    @Html.Partial("Sidebar", Model)
                </div>
            </div>
        }
        else
        {
            @Html.RazorEncode(HttpUtility.HtmlDecode(Model.content.desc), Model)
        }

    </section>
    @Html.Partial("_Footer", Model)
}