@model WebApplication2.ViewModels.Include.BaseViewModel
@using WebApplication2.ViewModels.Include
@using WebApplication2.ViewModels

@Html.Partial("_Header", Model)

@if (Model.isError)
{

    @Html.RazorEncode(HttpUtility.HtmlDecode(Model.errorMessage), Model)

}
else
{
    var page_class_name = "";
    if (Model.content != null && Model.content.pageClassName != null)
    {
        page_class_name = Model.content.pageClassName;
    }

    var background_image = "/images/bg_img/hkstock_bg.jpg";

    if (Model.category.backgroundURL != null)
    {
        background_image = Model.category.backgroundURL;
    }

    <div class="@page_class_name"
         style='background-image: url("@background_image"); background-size: contain; background-repeat: no-repeat; background-position-y: 0px; min-height: 800px;'>

        <section class='back'>
            @if (Model.category.hideTopTitle)
            {

            }
            else
            {
                <div class='content_big_title' style='background-color: transparent;'>
                    <table>
                        <tr>
                            <td>
                                <div class='title'>
                                    @if (Model.category != null
                                        && Model.category.iconURL != null)
                                    {
                                        <img src="@HttpUtility.HtmlDecode(Model.category.iconURL)" style="width: 60px; height: 60px"/>
                                    }
                                    @Html.RazorEncode(HttpUtility.HtmlDecode(Model.category.title), Model)
                                </div>
                                <div class='hr'></div>
                            </td>
                        </tr>
                    </table>
                </div>
            }

            @if (Model.category.showTopsubmenuBar)
            {
                @Html.Partial("Topsubmenu", Model)
            }
            else
            {

            }
        </section>

        <section class='front' style="min-height: 400px;">

            @if (Model.category.submenu != null)
            {
                foreach (var menuItem in Model.category.submenu)
                {
                    <a href="@menuItem.link.GetFullURL()">@menuItem.name</a>
                }
            }


            @if (Model.content != null && Model.content.type == "ArticleList")
            {
                <div class='row'>
                    <div class='col s12 m8'>
                        @Html.Partial("List", Model)
                    </div>
                    <div class='col s12 m4'>
                        @Html.Partial("Sidebar", Model)
                    </div>
                </div>
            }
            else if (Model.content != null && Model.content.type == "Article")
            {
                if (Model.content.showArticleDetailsTemplate)
                {
                    <div class='row'>
                        <div class='col s12 m12'>
                            @Html.Partial("NewsDetails", Model)
                        </div>
                    </div>
                }
                else
                {
                    <div class='row'>
                        <div class='col s12 m12'>
                            @Html.RazorEncode(HttpUtility.HtmlDecode(Model.content.desc), Model)
                        </div>
                    </div>
                }
            }
            else
            {
                @Html.RazorEncode(HttpUtility.HtmlDecode(Model.content.desc), Model)
            }

        </section>
    </div>
    @Html.Partial("_Footer", Model)
}