@model IEnumerable<WebApplication2.Models.Infrastructure.Category>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.subcategory != null)
{
    <h2>@ViewBag.subcategory.name_en - Sub-Categories</h2>
}
else
{
    <h2>Categories</h2>
    <p>
        @Html.ActionLink("Create New Category", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name_en)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name_zh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name_cn)
        </th>
        <th>
            Parent
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isContentPage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isArticleList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isVisibleToVisitorOnly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isVisibleToMembersOnly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isVisibleToTradingOnly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_at)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name_en)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name_zh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name_cn)
        </td>
        <td>
            @if (item.parentItem != null)
            {
                @item.parentItem.GetName()
            }
        </td>
        <td>
            @if (item.imagePath != null)
            {
                <img src="@item.imagePath" width="96" height="96" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isContentPage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isArticleList)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.isVisibleToVisitorOnly)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.isVisibleToMembersOnly)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.isVisibleToTradingOnly)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_at)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Sub-Categories", "List", new { parentItemID = item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ItemID })
        </td>
    </tr>
}

</table>

@if (ViewBag.subcategory != null)
{
    <p>
        @Html.ActionLink("Back to Categories", "List")
    </p>
}