@model WebApplication2.Models.Article

@{
    ViewBag.Title = "ArticleChrome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Article Details</h2>

@functions
{
    public string CurrentTab(string tab, string lang = "")
    {
        var url = Request.Url.GetLeftPart(UriPartial.Path);
        var parts = url.Split('/');
        var urlPart = parts.ElementAt(parts.Count() - 1);

        if (urlPart.Equals(tab))
        {
            if (urlPart.Equals("DetailsLocale"))
            {
                if (Model.Lang.Equals(lang))
                {
                    return "current";
                }
            }
            else if (urlPart.Equals("DetatilsProperties"))
            {
                return "current";
            }
            else if (urlPart.Equals("ListArticleVersions"))
            {
                return "current";
            }
        }
        return "";
    }
}

<div class="tabs-menu">
    <ul>
        <li class=@CurrentTab("DetailsLocale", "en")>@Html.ActionLink("EN", "DetailsLocale", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "en" })</li>
        <li class=@CurrentTab("DetailsLocale", "zh")>@Html.ActionLink("ZH", "DetailsLocale", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "zh" })</li>
        <li class=@CurrentTab("DetailsLocale", "cn")>@Html.ActionLink("CN", "DetailsLocale", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "cn" })</li>
        <li class=@CurrentTab("DetailsProperties")>@Html.ActionLink("Page Properties", "DetailsProperties", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "en" })</li>
    </ul>
</div>

@if (Model.isPublished)
{
    <div>Published</div>

    <div class="form-group input-group-sm">
        @Html.ActionLink("Unpublish", "UnpublishArticle", new { baseArticleID = Model.BaseArticleID, version = Model.Version }) |
    </div>
}
else
{
    <div class="form-group input-group-sm">

        @using (Html.BeginForm("PublishArticle", "ArticlePublisher", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <p>
                Publish
                <hr />

                <div class="form-actions no-color" style="position: relative;">
                    @Html.HiddenFor(model => model.ArticleID)
                    @Html.HiddenFor(model => model.Version)
                    @Html.HiddenFor(model => model.Lang)
                    @Html.HiddenFor(model => model.BaseArticleID)

                    @Html.LabelFor(model => model.datePublishStart)
                    @Html.TextBox("datePublishStart", "", new { @class = "form-control datepicker", placeholder = "Enter publish start date here..." })
                    @Html.ValidationMessageFor(model => model.datePublishStart)

                    @Html.LabelFor(model => model.datePublishEnd)
                    @Html.TextBox("datePublishEnd", "", new { @class = "form-control datepicker", placeholder = "Enter publish end date here..." })
                    @Html.ValidationMessageFor(model => model.datePublishEnd)

                    <br />
                    <input type="submit" value="Publish" class="btn btn-default" />
                </div>
            </p>
        }
        <script type="text/javascript">
    $(function () { // will trigger when the document is ready
       $('.datepicker').datetimepicker(); //Initialise any date pickers
    });
        </script>
    </div>
}

<div class="form-group input-group-sm">
    @Html.ActionLink("Back", "List")
</div>

@RenderBody()
