@model IEnumerable<WebApplication2.Models.Article>

@{
    ViewBag.Title = "ListArticleVersions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Article Version History</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaseArticleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isUnapproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approvalRemarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateUnapproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datePublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approvedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publishedBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseArticleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isUnapproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approvalRemarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateUnapproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datePublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modified_at)
            </td>
            <td>
                @if (item.createdByAccount != null)
                {
                    @item.createdByAccount.Username
                }
            </td>
            <td>
                @if (item.approvedByAccount != null)
                {
                    @item.approvedByAccount.Username
                }
            </td>
            <td>
                @if (item.publishedByAccount != null)
                {
                    @item.publishedByAccount.Username
                }
            </td>
            <td>
                @if (item.isApproved)
                {
                    @Html.ActionLink("Details", "DetailsLocale", new { baseArticleID = item.BaseArticleID, version = item.Version, lang = "en" })
                }
                else
                {

                }
            </td>
        </tr>
    }

</table>

<div>
        @Html.ActionLink("List Approved Articles", "ListArticlesApproved")
</div>
<div>
        @Html.ActionLink("List Published Articles", "ListArticlesPublished")
</div>
