
<section class='top'>
    <div class='footer'>
        <div class='white-space'>
            <div class='gem_form nobg zeromarginpadding' style='position:relative; overflow: visible;'>
                <div class='row'>
                    @for (var i = 0; i < Model.footerMenu.Count; i++)
                    {
                        var menuItem = Model.footerMenu[i];

                        <div class='col s12 m4'>
                            <a href="@menuItem.link.GetFullURL()">@menuItem.name</a>
                        </div>
                    }
                    <div class='col s12 m4'>
                        <a href="/@Model.lang.locale/home/sitemap">@Model.globalData.lbl_sitemap</a>
                    </div>
                </div>
                <style>
                    /*
                    #comm100-float-button-2 {
                        width: 72px !important;
                        height: 72px !important;
                        background-size: contain !important;
                        position: fixed !important;
                        bottom: 106px !important;
                        right: 10px !important;
                        top: auto !important;
                        left: auto !important;
                    }
                        */
                </style>
                <div id="comm100-button-955" class="oval-button" style="position:fixed;bottom: 106px; right: 10px;">

                </div>
                <a href="#" class="oval-button" style="position:fixed;bottom: 24px; right: 10px;">
                    <img style="width:100%" src="/images/footer_gototop_btn.png" />
                </a>
            </div>
        </div>
        <div class='footer-bar-bg'>
            <div class='gem_form nobg zeromarginpadding'>
                <div class='row'>
                    <div class='col s12 m12'>
                        © @(Model.currentYear) @(Model.globalData.lbl_copyright)

                        @for (var i = 0; i < Model.bottomMenu.Count; i++)
                        {
                            var menuItem = Model.bottomMenu[i];
                            <span>
                                <span style="width: 100px">&nbsp;</span>|<span style="width: 100px"> &nbsp;</span>
                                <a href="@menuItem.link.GetFullURL()">@menuItem.name</a>
                            </span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/js/init.js"></script>