@model WebApplication2.ViewModels.Include.BaseViewModel

<section class='top'>
    <div class='header'>
        <div class='top-red-bar'>
        </div>
        <div class='white-space'>
            <div class='gem_form nobg zeromarginpadding' style="overflow: visible;">
                <div class="row">
                    <div class="col m12">
                        <table class='header-table-grid-1 font_sm'>
                            <tr>
                                <td>
                                    <a href="/@Model.lang.locale/">
                                        <div class='GSL'>@Model.headerData.title</div>
                                    </a>
                                </td>
                                <td>
                                    <span id="lang_select" style="z-index: 1000000"></span>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    @{
                                        var spsm = "";
                                        var bigsm = "";
                                    }
                                    @if (Model.current.session.fontSize <= 20)
                                    {
                                        spsm = " border-bottom: 2px solid #CF0D14";
                                    }
                                    else if (Model.current.session.fontSize > 20)
                                    {
                                        bigsm = " border-bottom: 2px solid #CF0D14";
                                    }
                                    <span style='font-size: 20px; @(spsm)'><a href='#' style='text-decoration: none; color: #333' onclick='fontSmall();'>A</a></span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span style='font-size: 30px; @(bigsm)'><a href='#' style='text-decoration: none; color: #333' onclick='fontBig();'>A</a></span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    @if (Model.current != null && Model.current.session != null
&& Model.current.session.isLoggedIn)
                                    {
                                        if (Model.current.session.hasTradingAcc)
                                        {
                                            <a href="">
                                                <span class='generic-button-standalone gb-hollow-white'>
                                                    @Model.globalData.lbl_trading
                                                </span>
                                            </a>
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <a href="/@Model.lang.locale/home/logout">
                                                <span class='generic-button-standalone gb-primary'>
                                                    @(Model.current.session.fullname) (@(Model.globalData.lbl_logout))
                                                </span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/@Model.lang.locale/home/logout">
                                                <span class='generic-button-standalone gb-hollow-white'>
                                                    @Model.globalData.lbl_logout
                                                </span>
                                            </a>
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                            <a href="">
                                                <span class='generic-button-standalone gb-primary'>
                                                    @(Model.globalData.lbl_welcome)@(Model.current.session.fullname)
                                                </span>
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="/@Model.lang.locale/Page/login">
                                            <span class='generic-button-standalone gb-hollow-white'>
                                                @Model.globalData.lbl_login_register
                                            </span>
                                        </a>
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <a href="/@Model.lang.locale/Page/signup">
                                            <span class='generic-button-standalone gb-primary'>
                                                @Model.globalData.lbl_free_open_acc
                                            </span>
                                        </a>
                                    }
                                </td>
                            </tr>
                        </table>

                        <div class='nav-bar-bg'>
                            <ul id="nav-mobile">
                                @{
                                    var menuCount = 0;
                                }
                                @for (var i = menuCount; i < Model.headerMenu.Count; i++)
                                {
                                    menuCount += 1;
                                    var menuItem = Model.headerMenu[i];
                                    <li class="headerMenuActive" id="headerMenu_li_@i"><a href="@menuItem.link.GetFullURL()">@menuItem.name</a></li>
                                }
                            </ul>
                            <ul id="nav-mobile" class="right">
                                <li id="headerMenu_search_li" style="border-right: 1px solid #999999; width: 100px; text-align: center">
                                    <a href="/@Model.lang.locale/Home/Search">
                                        <div><i class="fa fa-search"></i></div>
                                    </a>
                                </li>
                                @{
                                    var curMenuCount = menuCount;
                                }
                                @for (var i = curMenuCount; i < Model.headerMenuRight.Count + curMenuCount; i++)
                                {
                                    var index = i - curMenuCount;
                                    menuCount += 1;
                                    var menuItem = Model.headerMenuRight[index];
                                    <li class="headerMenuActive li_right" id="headerMenu_li_@i"><a href="@menuItem.link.GetFullURL()">@menuItem.name</a></li>
                                }

                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="nav-overlay-search">
            <div style="margin: 10px;">
                <form method="get" action="/@Model.lang.locale/home/search">
                    <input type="text" name="q"/>
                </form>
            </div>
        </div>

        <style>
            #nav-overlay-search
            {
              box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.5);
              z-index: 100000;
              display: none;
              top: 130px;
              width: 200px;
              position: absolute;
              background: #F3F3F3; 
            }
        </style>

        <script type="text/javascript">
            $("#nav-overlay-search").css("left", ($("#headerMenu_search_li").position().left - 100) + "px");
        </script>

        <div id="nav-overlay">
            @{
                var s_menuCount = 0;
            }

            @for (var i = 0; i < Model.headerMenu.Count; i++)
            {
                s_menuCount += 1;

                var menuItem = Model.headerMenu[i];

                <div class='gem_form nobg zeromarginpadding nav-overlay-li' id="headerMenu_@i">
                    <div class="row">
                        <div class="col s3 box">
                            <div class="font_xxxlg" style="font-weight: bolder;">@menuItem.name</div>
                            <p class="font_sm c_grey_2" style="line-height: 1.43;">@menuItem.desc</p>
                        </div>
                        <div class="col s3 box">
                            <ul class="nav-sub-menu sub">
                                @for (var j = 0; j < menuItem.submenu.Count; j++)
                                {
                                    var submenuItem = menuItem.submenu[j];
                                    <a href="@submenuItem.link.GetFullURL()">
                                        <li id="headerMenu_sub_li_@j">
                                            @submenuItem.name
                                            @if (submenuItem.submenu.Count > 0)
                                            {
                                                <p class="arrow"></p>
                                            }
                                        </li>
                                    </a>
                                }
                            </ul>
                        </div>
                        <div class="col s3 box">
                            @for (var j = 0; j < menuItem.submenu.Count; j++)
                            {
                                var submenuItem = menuItem.submenu[j];
                                <ul class="nav-sub-menu subsub headerMenu_sub_@j">
                                    @for (var k = 0; k < submenuItem.submenu.Count; k++)
                                    {
                                        var jk = j + "_" + k;
                                        var subsubmenuItem = submenuItem.submenu[k];
                                        <a href="@subsubmenuItem.link.GetFullURL()"><li id="headerMenu_subsub_li_@jk">@subsubmenuItem.name</li></a>
                                    }
                                </ul>
                            }
                        </div>
                        <div class="col s3 box">
                            @if (menuItem.category != null &&
menuItem.category.thumbURL != null)
                            {
                                <img src="@menuItem.category.thumbURL" style="width: 100%" class="img_headerMenu" />
                            }

                            @for (var j = 0; j < menuItem.submenu.Count; j++)
                            {
                                var submenuItem = menuItem.submenu[j];
                                if (submenuItem.category != null &&
submenuItem.category.thumbURL != null)
                                {
                                    <img src="@submenuItem.category.thumbURL" class="img_headerMenu_sub_li_@j" style="display: none; width: 100%" />
                                }
                            }

                            @for (var j = 0; j < menuItem.submenu.Count; j++)
                            {
                                var submenuItem = menuItem.submenu[j];
                                <ul class="nav-sub-menu subsub headerMenu_sub_@j">
                                    @for (var k = 0; k < submenuItem.submenu.Count; k++)
                                    {
                                        var jk = j + "_" + k;
                                        var subsubmenuItem = submenuItem.submenu[k];
                                        if (subsubmenuItem.category != null &&
subsubmenuItem.category.thumbURL != null)
                                        {
                                            <img src="@subsubmenuItem.category.thumbURL" class="img_headerMenu_subsub_li_@jk" style="display: none; width: 100%" />
                                        }
                                    }
                                </ul>
                            }

                        </div>
                    </div>
                </div>
            }
            @{
                var s_curMenuCount = s_menuCount;
            }
            <!--
            <div class='gem_form nobg zeromarginpadding nav-overlay-li' id="headerMenu_search_li">
                headerMenu_search_li
            </div>
                -->
            @for (var i = s_curMenuCount; i < Model.headerMenuRight.Count + s_curMenuCount; i++)
            {
                var index = i - s_curMenuCount;
                s_menuCount += 1;

                var menuItem = Model.headerMenuRight[index];

                <div class='gem_form nobg zeromarginpadding nav-overlay-li' id="headerMenu_@i">
                    <div class="row">
                        <div class="col s3 box">
                            <div class="font_xxxlg" style="font-weight: bolder;">@menuItem.name</div>
                            <p class="font_sm c_grey_2" style="line-height: 1.43;">@menuItem.desc</p>
                        </div>
                        <div class="col s3 box">
                            <ul class="nav-sub-menu sub">
                                @for (var j = 0; j < menuItem.submenu.Count; j++)
                                {
                                    var submenuItem = menuItem.submenu[j];
                                    <a href="@submenuItem.link.GetFullURL()">
                                        <li id="headerMenu_sub_li_@j">
                                            @submenuItem.name
                                            @if (submenuItem.submenu.Count > 0)
                                            {
                                                <p class="arrow"></p>
                                            }
                                        </li>
                                    </a>
                                }
                            </ul>
                        </div>
                        <div class="col s3 box">
                            @for (var j = 0; j < menuItem.submenu.Count; j++)
                            {
                                var submenuItem = menuItem.submenu[j];
                                <ul class="nav-sub-menu subsub headerMenu_sub_@j">
                                    @for (var k = 0; k < submenuItem.submenu.Count; k++)
                                    {
                                        var jk = j + "_" + k;
                                        var subsubmenuItem = submenuItem.submenu[k];
                                        <a href="@subsubmenuItem.link.GetFullURL()"><li id="headerMenu_subsub_li_@jk">@subsubmenuItem.name</li></a>
                                    }
                                </ul>
                            }
                        </div>
                        <div class="col s3 box">
                            @if (menuItem.category != null &&
menuItem.category.thumbURL != null)
                            {
                                <img src="@menuItem.category.thumbURL" style="width: 100%" class="img_headerMenu" />
                            }

                            @for (var j = 0; j < menuItem.submenu.Count; j++)
                            {
                                var submenuItem = menuItem.submenu[j];
                                if (submenuItem.category != null &&
submenuItem.category.thumbURL != null)
                                {
                                    <img src="@submenuItem.category.thumbURL" class="img_headerMenu_sub_li_@j" style="display: none; width: 100%" />
                                }
                            }

                            @for (var j = 0; j < menuItem.submenu.Count; j++)
                            {
                                var submenuItem = menuItem.submenu[j];
                                <ul class="nav-sub-menu subsub headerMenu_sub_@j">
                                    @for (var k = 0; k < submenuItem.submenu.Count; k++)
                                    {
                                        var jk = j + "_" + k;
                                        var subsubmenuItem = submenuItem.submenu[k];
                                        if (subsubmenuItem.category != null &&
                subsubmenuItem.category.thumbURL != null)
                                        {
                                            <img src="@subsubmenuItem.category.thumbURL" class="img_headerMenu_subsub_li_@jk" style="display: none; width: 100%" />
                                        }
                                    }
                                </ul>
                            }

                        </div>
                    </div>
                </div>
            }
        </div>


    </div>
</section>


<script type="text/javascript">
var overlay_time = null;

$('.nav-bar-bg').find('li#headerMenu_search_li').on('mouseover', function (e) {
    var target = $(e.target).closest('li');
    var siblings = target.closest('.nav-bar-bg').find('li');

    if (!target.hasClass('highlighted')) {
        $('.nav-sub-menu.sub').find('li').removeClass('active');
        $('.nav-sub-menu.subsub').hide();
        $('.nav-sub-menu.subsub').find('li').removeClass('active');
    }

    siblings.removeClass('highlighted');
    target.addClass('highlighted')

    $('#nav-overlay').hide();
    $('#nav-overlay-search').show();
    $("#nav-overlay-search").css("left", ($("#headerMenu_search_li").position().left - 100) + "px");

    if (overlay_time) {
        clearTimeout(overlay_time);
        overlay_time = null;
    }
});
    
$('.nav-bar-bg').find('li#headerMenu_search_li').on('mouseout', function (e) {
    overlay_time = setTimeout(function () {
        $('#nav-overlay').hide();
        $('#nav-overlay-search').hide();
        var siblings = $('.nav-bar-bg').find('li');
        siblings.removeClass('highlighted');
    }, 250);
});

$('.nav-bar-bg').find('li.headerMenuActive').on('mouseover', function (e) {
    var target = $(e.target).closest('li');
    var siblings = target.closest('.nav-bar-bg').find('li');

    if (!target.hasClass('highlighted'))
    {
        $('.nav-sub-menu.sub').find('li').removeClass('active');
        $('.nav-sub-menu.subsub').hide();
        $('.nav-sub-menu.subsub').find('li').removeClass('active');
    }

    siblings.removeClass('highlighted');
    target.addClass('highlighted')

    $('#nav-overlay').show();
    $('#nav-overlay-search').hide();

    if (target.hasClass('li_right')) {
        $('#nav-overlay').addClass('right');
    }
    else {
        $('#nav-overlay').removeClass('right');
    }



    var headerMenu_li_ = target.attr('id');
    var headerMenu_li_id = headerMenu_li_.replace("headerMenu_li_", "headerMenu_");
    $('#nav-overlay').find('#' + headerMenu_li_id).show();
    $('#nav-overlay').find('#' + headerMenu_li_id).siblings('.nav-overlay-li').hide();

    $('#nav-overlay').find('.img_headerMenu').show();
    $('#nav-overlay').find('.img_headerMenu').siblings('img').hide();

    if (overlay_time) {
        clearTimeout(overlay_time);
        overlay_time = null;
    }
});

$('.nav-bar-bg').find('li.headerMenuActive').on('mouseout', function (e) {
    overlay_time = setTimeout(function () {
        $('#nav-overlay').hide();
        var siblings = $('.nav-bar-bg').find('li');
        siblings.removeClass('highlighted');
    }, 250);
});


$('#nav-overlay').on('mouseout', function(e)
{
    overlay_time = setTimeout(function() {
        $('#nav-overlay').hide();
        var siblings = $('.nav-bar-bg').find('li');
        siblings.removeClass('highlighted');
    }, 250);
});
$('#nav-overlay').on('mouseover', function(e)
{
    if (overlay_time)
    {
        clearTimeout(overlay_time);
        overlay_time = null;
    }
});



$('#nav-overlay-search').on('mouseout', function (e) {
    overlay_time = setTimeout(function () {
        $('#nav-overlay').hide();
        $('#nav-overlay-search').hide();
        var siblings = $('.nav-bar-bg').find('li');
        siblings.removeClass('highlighted');
    }, 250);
});
$('#nav-overlay-search').on('mouseover', function (e) {
    if (overlay_time) {
        clearTimeout(overlay_time);
        overlay_time = null;
    }
});


$('.nav-sub-menu.sub').find('li').on('mouseover', function (e) {
    var target = $(e.target).closest('li');
    var siblings = target.closest('a').siblings('a').find('li');

    siblings.removeClass('active');
    target.addClass('active');

    var headerMenu_sub_li_ = target.attr('id');
    var headerMenu_sub_li_id = headerMenu_sub_li_.replace("headerMenu_sub_li_", "headerMenu_sub_");
    $('#nav-overlay').find('.' + headerMenu_sub_li_id).show();
    $('#nav-overlay').find('.' + headerMenu_sub_li_id).siblings('.nav-sub-menu.subsub').hide();

    var img_headerMenu_sub_li_id = headerMenu_sub_li_.replace("headerMenu_sub_li_", "img_headerMenu_sub_li_");

    $('#nav-overlay').find('.' + img_headerMenu_sub_li_id).show();
    $('#nav-overlay').find('.' + img_headerMenu_sub_li_id).siblings('img').hide();
})

$('.nav-sub-menu.subsub').find('li').on('mouseover', function (e) {
    var target = $(e.target).closest('li');
    var siblings = target.closest('a').siblings('a').find('li');

    siblings.removeClass('active');
    target.addClass('active');

    $('#nav-overlay').find('.' + 'img_headerMenu_subsub_li_' + headerMenu_sub_li_id).show();
    $('#nav-overlay').find('.' + 'img_headerMenu_subsub_li_' + headerMenu_sub_li_id).siblings('img').hide();

    var headerMenu_subsub_li_ = target.attr('id');
    var img_headerMenu_sub_li_id = headerMenu_subsub_li_.replace("headerMenu_subsub_li_", "img_headerMenu_subsub_li_");

    $('#nav-overlay').find('.' + img_headerMenu_subsub_li_id).show();
    $('#nav-overlay').find('.' + img_headerMenu_subsub_li_id).siblings('img').hide();
})

</script>




<script>
    window.fontSmall = function fontSmall() {
        var pathname = window.location.pathname;
        window.location.href = "/@Model.lang.locale/home/changeFontSizeNormal?redirect=" + pathname;
    }
    window.fontBig = function fontBig() {
        var pathname = window.location.pathname;
        window.location.href = "/@Model.lang.locale/home/changeFontSizeBig?redirect=" + pathname;
    }
</script>


<script>
    window.initLangMenu = function initLangMenu(curlang, el) {

        var genLang = function(lang)
        {
            var pathname = window.location.pathname;

            var segments = pathname.split("/");
            if (segments.length > 1) {
                segments[1] = lang;
            }

            return segments.join("/");
        }

        var convLang = curlang;
        var langLst = [];
        var outputStr = '';
        var linkLst = [
          pathname = genLang("zh-HK"),
          pathname = genLang("zh-CN"),
          pathname = genLang("en-US")
        ];
        langLst['zh-HK'] = '繁中';
        langLst['zh-CN'] = '简中';
        langLst['en-US'] = 'English';

        outputStr += '<div class="cust-dropdown-lang">';

        if (langLst[convLang]) {
            outputStr += '<button class="cust-dropbtn-lang">' + langLst[convLang] + ' <img src="/images/menu_language_arrow.png" /></button>';
        } else {
            outputStr += '<button class="cust-dropbtn-lang">繁中</button>';
        }
        outputStr += '<div class="cust-dropdown-lang-content" style="z-index: 1000000"> ';

        if (langLst[convLang]) {
            if (convLang !== 'zh-HK') { outputStr += '<a href="' + linkLst[0] + '">繁中</a>  '; }
            if (convLang !== 'zh-CN') { outputStr += '<a href="' + linkLst[1] + '">简中</a>  '; }
            if (convLang !== 'en-US') { outputStr += '<a href="' + linkLst[2] + '">English</a>  '; }
            outputStr += '</div> </div>';
        }
        else {
            outputStr += '<a href="' + linkLst[1] + '">简中</a>  ' +
            '<a href="' + linkLst[2] + '">English</a> ' +
            '</div> </div>';
        }
        $('#' + el).empty().append(outputStr);
    }

    initLangMenu('@Model.lang.locale', 'lang_select');
</script>
