@model WebApplication2.ViewModels.Include.BaseViewModel
@using WebApplication2.ViewModels.Include
@using WebApplication2.ViewModels

@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_Header", Model)

@{ 
    var page_class_name = "";
    if (Model.content != null && Model.content.pageClassName != null)
    {
        page_class_name = Model.content.pageClassName;
    }
}

<div class="@page_class_name"
        >

    <div style="position: relative; max-width: 1400px; margin: 0 auto;">
        <section class='front'>

            <div class='gem_form shortbottom' style='border-radius: 0 !important; padding-top: 20px; padding-bottom: 20px; background-image: url("/images/index/inedx_bg.jpg"); background-size: cover; background-repeat: no-repeat; background-position-y: 0px;'>
                <div class='row' style="background-color:transparent !important">
                    <div class='col s12 m8'>
                        <div class="landingpage_banner">
                            <table style="height: 100%">
                                <tr>
                                    <td>
                                        @for (var i = 0; i < Model.jumbotronMenu.Count; i++)
                                        {
                                            var menuItem = Model.jumbotronMenu[i];

                                            if (i == 0)
                                            {
                                                <div class="jumbotron_html jumbotron_html_@i">
                                                    @Html.RazorEncode(HttpUtility.HtmlDecode(menuItem.desc), Model)
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="jumbotron_html jumbotron_html_@i" style="display: none">
                                                    @Html.RazorEncode(HttpUtility.HtmlDecode(menuItem.desc), Model)
                                                </div>
                                            }
                                        }
                                    </td>
                                    <td style="width: 228px;">
                                        <ul class="landingpage_banner_button">
                                            @for (var i = 0; i < Model.jumbotronMenu.Count; i++)
                                            {
                                                var menuItem = Model.jumbotronMenu[i];

                                                <li><a style='color: #fff' href="#">@menuItem.name</a><p class="arrow"></p></li>
                                            }
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <br />
                        <div class="landingpage_shortcut">
                            <table>
                                <tr>
                                    @for (var i = 0; i < Model.shortcutMenu.Count; i++)
                                    {
                                        var menuItem = Model.shortcutMenu[i];

                                        <td>
                                            <a href="@menuItem.link.GetFullURL()">@menuItem.name</a>
                                        </td>
                                    }
                                </tr>
                            </table>
                        </div>
                    </div>

                    @{
                        var iframe_src = "<div class='col s12 m4'><iframe class='if-flexible' frameborder='0' id='i1' scrolling='no' src='@{IFRAME_QPI:stock_quoter}'></iframe></div>";
                    }
                    @Html.RazorEncode(HttpUtility.HtmlDecode(iframe_src), Model)

                </div>
            </div>

            <script type="text/javascript">
                $('.landingpage_banner_button').find('li').on('mouseover', function (e) {
                    var target = $(e.target).closest('li');
                    var siblings = target.siblings('li');
                    siblings.removeClass('active');
                    target.addClass('active');
                    var index = target.index();
                    $('.jumbotron_html').hide();
                    $('.jumbotron_html_' + index).show();
                })
            </script>

            <div class="row">
                <div class='col s12 m12'>
                    <h4>股市行情：撿便宜，高配息，新上市</h4>
                </div>
            </div>


            <div class='row'>

                @{
                    var iframe_src2 = "<div class='col s12 m8'><iframe class='if-flexible' frameborder='0' id='i2' scrolling='no' src='@{IFRAME_QPI:stock_indices}'></iframe></div>";
                }
                @Html.RazorEncode(HttpUtility.HtmlDecode(iframe_src2), Model)


                <div class='col s12 m4'>
                    <div class='gem_form notopstripe shortbottom'>
                        <div style='background-color: #32415C'>
                            <table>
                                <tr>
                                    <td style='width: 100%'>
                                        <img src='icon' class='bg_c_white' style='width: 40px; height: 40px; margin: 16px; ' valign='middle' />
                                        <span class='font_lg c_white' style='vertical-align:middle'>財經新聞</span>
                                    </td>
                                    <td>
                                        <img src='icon' class='bg_c_white' style='width: 40px; height: 40px; margin: 16px; ' valign='middle' />
                                    </td>
                                    <td>
                                        <img src='icon' class='bg_c_white' style='width: 40px; height: 40px; margin: 16px; margin-left: 8px; ' valign='middle' />
                                    </td>
                                </tr>
                                <tr>
                                    <td style='padding: 16px; width: 100%' class='font_sm gm gm-numbers c_white'>
                                        2016/08/22 11:30
                                    </td>
                                </tr>
                                <tr>
                                    <td style='padding: 0px 16px 16px; width: 100%; height: 120px; vertical-align: top;' class='font_med gm gm-numbers c_white'>
                                        <div>
                                            新聞內容
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>



                    <div class='gem_form notopstripe shortbottom'>
                        <div style='background-color: #84BF8E'>
                            <table>
                                <tr>
                                    <td>
                                        <img src='icon' class='bg_c_white' style='width: 40px; height: 56px; margin: 16px; ' valign='middle' />
                                    </td>
                                    <td style='width: 100%'>
                                        <div class='font_lg c_white' style='vertical-align:middle'>台灣用戶</div>
                                        <div class='font_sm c_white' style='vertical-align:middle'>可免註冊手續</div>
                                    </td>
                                </tr>
                            </table>
                            <table style='width: 100%'>
                                <tr>
                                    <td style='padding: 20px 16px 40px; width: 100%; vertical-align: top;' class='font_med gm gm-numbers c_white'>
                                        <center>
                                            <div class='generic-button-big gb-transparent-white'>
                                                開設賬戶
                                            </div>
                                        </center>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class='gem_form shortbottom'>
                        <div class='gem_form_header' style='position:relative; padding-left: 0; padding-right: 0;'>
                            <p class='topbar big bg_c_dgreen'>
                                <span class='font_smed'>最新優惠</span>
                            </p>
                        </div>
                        <div style='padding-left: 0px; padding-right: 0px; margin-bottom: -6px;'>
                            <img src='~/images/promotion_1.png' style='width: 100%' />
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>

                @{
                    var iframe_src3 = "<div class='col s12 m12'><iframe class='if-flexible' frameborder='0' id='i3' scrolling='no' src='@{IFRAME_QPI:market_dashboard}'></iframe></div>";
                }
                @Html.RazorEncode(HttpUtility.HtmlDecode(iframe_src3), Model)

            </div>


            <div class='row'>
                <div class='col s12 m12'>
                    @Html.RazorEncode(HttpUtility.HtmlDecode(Model.content.desc), Model)
                </div>
            </div>

        </section>
    </div>
</div>
@Html.Partial("_Footer", Model)

