@model WebApplication2.ViewModels.Include.BaseViewModel
@using WebApplication2.ViewModels.Include
@using WebApplication2.ViewModels

@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_Header", Model)

@{
    var page_class_name = "";
    if (Model.content != null && Model.content.pageClassName != null)
    {
        page_class_name = Model.content.pageClassName;
    }
}

<div class="@page_class_name" style="background-color: #f0f0f0">

    <div style="max-width: 1400px; margin: 0 auto;">
        <section class='back'>
            <div class='content_big_title' style='background-color: transparent;'>
                <table>
                    <tr>
                        <td>
                            <div class='title' style="color: #000">
                                @Model.globalData.lbl_search_results
                            </div>
                            <div class='hr' style="background-color: #000 !important"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </section>

        <section class='front'>

            <div style="text-align: center;">
                <div style="text-align: center; display: inline-block; background-color: rgba(0,0,0,0.3); border-radius: 20px;">
                    <form action="/@Model.lang.locale/Home/Search" method="get">
                        <span style="display: inline-block; color: #337722">
                            <span style="color: #337722; display: inline-block; vertical-align: middle;">
                                <input placeholder="@Model.globalData.lbl_search_placeholder" style="color: #fff; background-color: transparent !important;" class="form-control" type="text" name="q" value="@Model.search_keywords" />
                            </span>
                            <span style="display: inline-block; vertical-align: middle;">
                                <button style="
                                        background-repeat:no-repeat;
                                        border: none;
                                        cursor:pointer;
                                        overflow: hidden;
                                        outline:none;
                                       background-color: transparent; color: #fff" class="form-control" type="submit">
                                    <img style="width: 26px; height: 26px; margin: 4px;" src="~/images/menu_search_icon_2.png"/>
                                </button>
                            </span>
                        </span>
                    </form>
                </div>
            </div>

            <br/>
            <br />

            <div class='row'>
                <div class='col s12 m12' style="background-color: #fff">
                    <table>
                        <tr>
                            <td>
                                <div>
                                    <h4>@Model.globalData.lbl_search_results_your</h4>
                                </div>
                            </td>
                        </tr>
                        @foreach (var data in Model.search_data)
                        {
                            <tr>
                                <td>
                                    <span style="display: inline-block; color: #337722">
                                        <a href="@data.Url" target="_blank">
                                            <span style="color: #337722; display: inline-block; vertical-align: middle;">
                                                <h5>
                                                    @Html.RazorEncode(HttpUtility.HtmlDecode(data.Name), Model)
                                                </h5>
                                            </span>
                                        </a>
                                        <span style="display: inline-block; vertical-align: middle;">
                                            <p class="misc_arrow"></p>
                                        </span>
                                    </span>
                                    @if (data.is_page == 0)
                                    {
                                        <div style="float:right; border-radius: 5px; background-color: #dadada; padding: 2px;">
                                            @data.Type.ToUpper().Trim('.')
                                        </div>
                                    }
                                    <div style="clear: both;">

                                    </div>
                                    <div>
                                        @Html.RazorEncode(HttpUtility.HtmlDecode(data.Description), Model)
                                    </div>
                                    <div style="margin-top: 32px; background-color: #dadada; height: 1px"/>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

            <br />
            <br />
            <br />

        </section>
    </div>
</div>
@Html.Partial("_Footer", Model)

