@model WebApplication2.Models.Article

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desc)
        </dt>

        <dd>
            @Html.Raw(HttpUtility.HtmlDecode(Model.Desc))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Excerpt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Excerpt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaKeywords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaKeywords)
        </dd>

    </dl>
</div>
