@model WebApplication2.Models.Article

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Category
        </dt>

        <dd>
            @if (Model.category != null)
            {
                @Model.category.GetName()
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Model.getUrl()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseArticleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseArticleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isRequestingApproval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isRequestingApproval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isUnapproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isUnapproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approvalRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approvalRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateUnapproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateUnapproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datePublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datePublishStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datePublishStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datePublishEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datePublishEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdByAccount)
        </dt>

        <dd>
            @if (Model.createdByAccount != null)
            {
                @Model.createdByAccount.Username
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approvedByAccount)
        </dt>

        <dd>
            @if (Model.approvedByAccount != null)
            {
                @Model.approvedByAccount.Username
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publishedByAccount)
        </dt>

        <dd>
            @if (Model.publishedByAccount != null)
            {
                @Model.publishedByAccount.Username
            }
        </dd>


    </dl>
</div>
