@model WebApplication2.Models.Article

@{
    ViewBag.Title = "ArticleChrome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Article</h2>

@functions
{
    public string CurrentTab(string tab, string lang = "")
    {
        var url = Request.Url.GetLeftPart(UriPartial.Path);
        var parts = url.Split('/');
        var urlPart = parts.ElementAt(parts.Count() - 1);

        if (urlPart.Equals(tab))
        {
            if (urlPart.Equals("UpsertLocale"))
            {
                if (Model.Lang.Equals(lang))
                {
                    return "current";
                }
            }
            else if (urlPart.Equals("EditProperties"))
            {
                return "current";
            }
            else if (urlPart.Equals("ListArticleVersions"))
            {
                return "current";
            }
        }
        return "";
    }
}

<div class="tabs-menu">
    <ul>
        <li class=@CurrentTab("UpsertLocale", "en")>@Html.ActionLink("EN", "UpsertLocale", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "en" })</li>
        <li class=@CurrentTab("UpsertLocale", "zh")>@Html.ActionLink("ZH", "UpsertLocale", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "zh" })</li>
        <li class=@CurrentTab("UpsertLocale", "cn")>@Html.ActionLink("CN", "UpsertLocale", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "cn" })</li>
        <li class=@CurrentTab("EditProperties")>@Html.ActionLink("Page Properties", "EditProperties", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "en" })</li>
    </ul>
</div>

@RenderBody()

@Html.ActionLink("Details", "DetailsLocale", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "en" }) |
@Html.ActionLink("Create New Version", "CreateNewVersion", new { baseArticleID = Model.BaseArticleID }) |
@Html.ActionLink("Back to Articles", "List")

<script type="text/javascript">
    $('.tabs-menu').next().css("border", "1px solid #d4d4d1");
    $('.tabs-menu').next().css("margin-top", "-1px");
    $('.tabs-menu').next().css("margin-bottom", "10px");
    $('.tabs-menu').next().css("padding-top", "10px");
    $('.tabs-menu').next().css("padding-bottom", "10px");
</script>

<style>
    .tabs-menu li.current
    {
        border-bottom: 2px solid #fff !important;
    }
</style>