@model WebApplication2.Models.Article

@{
    ViewBag.Title = "DetailsProperties";
    Layout = "~/Views/ArticleEditor/ArticleDetailsChrome.cshtml";
}

<h2>Properties</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseArticleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseArticleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isRequestingApproval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isRequestingApproval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isUnapproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isUnapproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.approvalRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.approvalRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateApproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateApproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateUnapproved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateUnapproved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datePublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datePublished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_at)
        </dd>

    </dl>
</div>