@model WebApplication2.Models.Article

@{
    ViewBag.Title = "SubmitRequestForApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @if (Model.isRequestingApproval)
        {
            <h2>Already Submitted for Approval</h2>
        }
        else
        {
            <h2>Submit Request for Approval?</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ArticleID)
            @Html.HiddenFor(model => model.Version)
            @Html.HiddenFor(model => model.Lang)
            @Html.HiddenFor(model => model.BaseArticleID)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Yes" class="btn btn-default" />
                </div>
            </div>
        }
        <div class="form-actions no-color">
            <a href='javascript:history.go(-1)'>Back to Article Details</a>
        </div>
    </div>
}