@model WebApplication2.Models.Article

@{
    ViewBag.Title = "ArticleChrome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Article Details</h2>

@functions
{
    public string CurrentTab(string tab, string lang = "")
    {
        var url = Request.Url.GetLeftPart(UriPartial.Path);
        var parts = url.Split('/');
        var urlPart = parts.ElementAt(parts.Count() - 1);

        if (urlPart.Equals(tab))
        {
            if (urlPart.Equals("DetailsLocale"))
            {
                if (Model.Lang.Equals(lang))
                {
                    return "current";
                }
            }
            else if (urlPart.Equals("DetatilsProperties"))
            {
                return "current";
            }
            else if (urlPart.Equals("ApproveArticle"))
            {
                return "current";
            }
            else if (urlPart.Equals("UnapproveArticle"))
            {
                return "current";
            }
        }
        return "";
    }
}

<div class="tabs-menu">
    <ul>
        <li class=@CurrentTab("DetailsLocale", "en")>@Html.ActionLink("EN", "DetailsLocale", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "en" })</li>
        <li class=@CurrentTab("DetailsLocale", "zh")>@Html.ActionLink("ZH", "DetailsLocale", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "zh" })</li>
        <li class=@CurrentTab("DetailsLocale", "cn")>@Html.ActionLink("CN", "DetailsLocale", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "cn" })</li>
        <li class=@CurrentTab("DetailsProperties")>@Html.ActionLink("Page Properties", "DetailsProperties", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "en" })</li>
        <li class=@CurrentTab("ApproveArticle")>@Html.ActionLink("Approve", "ApproveArticle", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "en" })</li>
        <li class=@CurrentTab("UnapproveArticle")>@Html.ActionLink("Unapprove", "UnapproveArticle", new { baseArticleID = Model.BaseArticleID, version = Model.Version, lang = "en" })</li>
    </ul>
</div>

@if (Model.isApproved)
{
    <h3>Approved</h3>
    <p>
        Remarks: @Model.approvalRemarks
    </p>
}
else if (Model.isUnapproved)
{
    <h3>Unapproved</h3>
    <p>
        Remarks: @Model.approvalRemarks
    </p>
}
<br />
@RenderBody()

@Html.ActionLink("Back to Articles to Approve", "List")
