@using WebApplication2.Helpers
@model IEnumerable<WebApplication2.Models.Article>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Articles to Approve</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseArticleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isUnapproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.approvalRemarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateUnapproved)
            </th>
            <th id="column_def_sort" data-direction="desc">
                @Html.DisplayNameFor(model => model.created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modified_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.approvedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.publishedBy)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Details", "DetailsLocale", new { baseArticleID = item.BaseArticleID, version = item.Version, lang = "en" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.category != null)
                {
                        @item.category.GetName(null)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaseArticleID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isUnapproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.approvalRemarks)
                </td>
                <td>
                    <span style="white-space: pre-line">@DateTimeExtensions.DateTimeToStringBR(item.dateApproved)</span>
                </td>
                <td>
                    <span style="white-space: pre-line">@DateTimeExtensions.DateTimeToStringBR(item.dateUnapproved)</span>
                </td>
                <td>
                    <span style="white-space: pre-line">@DateTimeExtensions.DateTimeToStringBR(item.created_at)</span>
                </td>
                <td>
                    <span style="white-space: pre-line">@DateTimeExtensions.DateTimeToStringBR(item.modified_at)</span>
                </td>
                <td>
                    @if (item.createdByAccount != null)
                    {
                        @item.createdByAccount.Username
                    }
                </td>
                <td>
                    @if (item.approvedByAccount != null)
                    {
                        @item.approvedByAccount.Username
                    }
                </td>
                <td>
                    @if (item.publishedByAccount != null)
                    {
                        @item.publishedByAccount.Username
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@Html.Partial("CDataTable")